@import "color-variable";
@import "mixin-function";
@import "font-family";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Noto-Sans-JP", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif, Helvetica, sans-serif;
  color: $white;
}
@media print {
  html,
  body {
    width: 80mm;
    height: 100%;
    position: absolute;
  }
}
input {
  border: none;
  &:focus-visible {
    outline: none;
  }
}
button {
  border: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
}

a {
  color: $white;
  text-decoration: none;
}

.hidden {
  display: none;
}
.icon-scroll {
  width: 48px;
  height: 48px;
  position: fixed;
  bottom: 160px;
  right: 60px;
  cursor: pointer;
}
